.container {
    /* height: 600px; */
    width: 100%;
}
.row {
    height: 300px;
}
.carousel {
    height: 800px;
}

.carousel>initialized {
    min-height: 700px;
    width: 100%;
    margin-top: -100px;
    height: 0px;
  }
.carousel .carousel-item {
    width: 500px;
}
    

